a {
    color: #9B4DCA;
    text-decoration: none;
    background-color: transparent;
    transition: ease all .2s;
}

a:hover {
    color: #9B4DCA;
	text-decoration: none;
}

.text-primary {
    color: #9B4DCA !important;
}
.py-80{
    padding: 80px 0;
}
.pt-80{
	padding-top: 80px;
}
.footer ul li a {
    color: #555;
    font-size: 34px;
}
.footer ul li a:hover {
	color: #9B4DCA
}
/** Social Bg Color**/
.g-bg-facebook {
    background-color: #3b5998;
}
.g-bg-twitter {
  background-color: #00acee;
}
.g-bg-pinterest {
  background-color: #c8232c;
}
.g-bg-youtube {
  background-color: #c4302b;
}
.g-bg-skype {
  background-color: #00aff0;
}
.g-bg-vine {
  background-color: #00bf8f;
}
.g-bg-google-plus {
  background-color: #dd4b39;
}
.g-bg-dribbble {
  background-color: #ea4c89;
}
.g-bg-vk {
  background-color: #2b587a;
}
.g-bg-linkedin {
  background-color: #0e76a8;
}
.g-bg-instagram {
  background-color: #3f729b;
}

/* Social Border and color */
.brd-facebook{
	border-color: #3b5998 !important;
	color: #3b5998 !important;
}
.brd-twitter {
  border-color: #00acee !important;
  color: #00acee !important;
}
.brd-pinterest {
  border-color: #c8232c !important;
  color: #c8232c !important;
}
.brd-youtube {
  border-color: #c4302b !important;
  color: #c4302b !important;
}
.brd-skype {
  border-color: #00aff0 !important;
  color: #00aff0 !important;
}
.brd-vine {
  border-color: #00bf8f !important;
  color: #00bf8f !important;
}
.brd-google-plus {
  border-color: #dd4b39 !important;
  color: #dd4b39 !important;
}
.brd-dribbble {
  border-color: #ea4c89 !important;
  color: #ea4c89 !important;
}
.brd-vk {
  border-color: #2b587a !important;
  color: #2b587a !important;
}
.brd-linkedin {
  border-color: #0e76a8 !important;
  color: #0e76a8 !important;
}
.brd-instagram {
  border-color: #3f729b !important;
  color: #3f729b !important;
}
/*Badges #01*/


.badges1 a{
	width: 60px;
    height: 60px;
    font-size: 36px;
    position: relative;
    display: inline-block;
    text-align: center;
    transition: all .2s ease-in-out;
    color: #fff;
}

.badges1 a i {
    position: relative;
    top: 50%;
    display: block;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    z-index: 2;
}
.badges1 .badges1-v1 {
    min-width: 1.28571rem;
    min-height: 1.28571rem;
    line-height: 1.28571rem;
    padding: 0.21429rem;
	background-color: #ddd;
    box-sizing: content-box;
	position: absolute;
    display: inline-block;
    text-align: center;
    font-size: 0.92857rem;
    color: #555;
    z-index: 3;
	top: 0;
    right: 0;
    -webkit-transform: translate(50%, -50%);
    transform: translate(50%, -50%);
}

/*Badges #02*/


.badges2 a{
	width: 60px;
    height: 60px;
    font-size: 36px;
    position: relative;
    display: inline-block;
    text-align: center;
    transition: all .2s ease-in-out;
    color: #fff;
}

.badges2 a i {
    position: relative;
    top: 50%;
    display: block;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    z-index: 2;
}
.badges2 .badges1-v1 {
    min-width: 1.28571rem;
    min-height: 1.28571rem;
    line-height: 1.28571rem;
    padding: 0.21429rem;
	background-color: #ddd;
    box-sizing: content-box;
	position: absolute;
    display: inline-block;
    text-align: center;
    font-size: 0.92857rem;
	border-radius: 4px;
    color: #555;
    z-index: 3;
	top: 0;
    right: 0;
    -webkit-transform: translate(50%, -50%);
    transform: translate(50%, -50%);
}

/*Badges #03*/

.badges3 a{
	width: 60px;
    height: 60px;
    font-size: 36px;
    position: relative;
    display: inline-block;
    text-align: center;
    transition: all .2s ease-in-out;
    color: #fff;
}

.badges3 a i {
    position: relative;
    top: 50%;
    display: block;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    z-index: 2;
}
.badges3 .badges1-v1 {
    min-width: 1.28571rem;
    min-height: 1.28571rem;
    line-height: 1.28571rem;
    padding: 0.21429rem;
	background-color: #ddd;
    box-sizing: content-box;
	position: absolute;
    display: inline-block;
    text-align: center;
    font-size: 0.92857rem;
	border-radius: 50%;
    color: #555;
    z-index: 3;
	top: 0;
    right: 0;
    -webkit-transform: translate(50%, -50%);
    transform: translate(50%, -50%);
}

/*Badges #04*/

.badges4 a{
	width: 60px;
    height: 60px;
    font-size: 36px;
    position: relative;
    display: inline-block;
    text-align: center;
    transition: all .2s ease-in-out;
    color: #fff;
}

.badges4 a i {
    position: relative;
    top: 50%;
    display: block;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    z-index: 2;
}
.badges4 .badges1-v1 {
	position: absolute;
    display: inline-block;
	top: 0;
    right: 0;
    -webkit-transform: translate(50%, -50%);
    transform: translate(50%, -50%);
	background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
	min-width: 1.28571rem;
    min-height: 1.28571rem;
    line-height: 1.28571rem;
    padding: 12px;
    z-index: 3;
	border-radius: 50%;

}
.badges4 .badges1-v1 {
		line-height: 1.14286rem;
	border: 2px solid #fff;
}
/*Badges #05*/
.badges5 a{
	width: 60px;
    height: 60px;
    font-size: 36px;
    position: relative;
    display: inline-block;
    text-align: center;
    transition: all .2s ease-in-out;
	border-radius: 50%;
	border: 1px solid transparent;
}

.badges5 a i {
    position: relative;
    top: 50%;
    display: block;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    z-index: 2;
}
.badges5 .badges1-v1 {
    min-width: 1.28571rem;
    min-height: 1.28571rem;
    line-height: 1.28571rem;
    padding: 0.21429rem;
	background-color: #f00;
    box-sizing: content-box;
	position: absolute;
    display: inline-block;
    text-align: center;
    font-size: 0.92857rem;
	border-radius: 50%;
    color: #fff;
    z-index: 3;
	margin-top: 6px;
	top: 0;
    right: 0;
    -webkit-transform: translate(50%, -50%);
    transform: translate(50%, -50%);
}

/*Badges #06*/
.badges6 .u-badge-v1 {
	min-width: 20px;
    min-height: 20px;
    line-height: 14px;
    padding: 5px;
    background: #9B4DCA;
    position: absolute;
    display: inline-block;
    text-align: center;
    font-size: 12px;
    z-index: 3;
    top: 0;
    right: 0;
    -webkit-transform: translate(50%, -50%);
    transform: translate(50%, -50%);
}

.badges6 img {
    width: 55px;
    height: auto;
}

/*Badges #07*/
.badges7 .u-badge-v1 {
	min-width: 10px;
    min-height: 10px;
    position: absolute;
    display: inline-block;
    text-align: center;
    z-index: 3;
    top: 0;
    right: 0;
    -webkit-transform: translate(50%, -50%);
    transform: translate(50%, -50%);
}

.badges7 img {
    width: 55px;
    height: auto;
}